<div  flex class="chips filter-container" [ngClass]="{'mobile-padding': isMobile}">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="mat-body-2 filter-label" >FILTERS:&nbsp;&nbsp;<span class="mat-caption" style="color: #ccc;" *ngIf="normalizedFilter.length === 0">No filters applied. (Try filtering by SUBJECTS or CONTENT TYPES).</span></div>
    <mat-chip-list>
      <mat-chip fxLayoutAlign="center center" class="filter-chip"
                [ngClass]="{'disable-chip': !filter.active}"
                color="default"
                (click)="deselect(filter.type, filter.id, filter.active)"
                *ngFor="let filter of normalizedFilter">
        <app-icon-close-disabled *ngIf="filter.active === false"></app-icon-close-disabled>
        <app-icon-close-white *ngIf="filter.active === true"></app-icon-close-white>
        <div class="chip-layout">{{filter.name}}<span *ngIf="isFilterInActive(filter)"> (removed)</span></div>
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
