<div style="margin-top: 30px;"></div>
<md-card-content style="max-width: 700px">

  <md-chip-list >
    <md-chip *ngIf="selectedSubject" selected="true"
             color="default" (click)="deselect($event)"> {{selectedSubject?.name}}</md-chip>
  </md-chip-list>
  <p style="font-size: 1.2em">
  This will be introductory text for the Academic Commons.  Fairly brief.  Just providing essentials for getting started
    and using the collections.
  The overall introduction to the Commons will be provided on the real, static home page.
  </p>
</md-card-content>
