mat-toolbar {
  color:#fff;
  background-color: rgba(0,0,0);
}
mat-toolbar {
  z-index: 700;
}
mat-toolbar button {
  border-width: 0;
  min-width: 20px;
}
.md-tooltip {
  background-color: red;
}
.menu {
  background-color: rgba(0,0,0);
}


