.mobile-margins {
  margin-left: 16px;
  /*margin-top: 46px;*/
}
.mobile-margins h1 {
  font-size: 1.7em;
}

.header-list-overlay {
  background: rgba(16, 15, 10, 0.76);
  height: 209px;
  width: 100%;
  position: absolute;
  z-index: 500;
  top: 0;
}
.header-title-container {
  background: #423e3e;
  font-family: Roboto,Helvetica Neue,sans-serif;
  color: #fff;
  border: none;
}


