<div fxFlex="100" class="header-title-container" style="overflow:hidden">

  <div class="header-list-overlay"></div>

  <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" style="position:absolute;z-index:1200;width:100%;">

    <div fxLayout="column"
         fxFlex="100"
         fxFlex.sm="100"
         fxFlex.md="85"
         fxFlex.lg="70"
         fxFlex.gt-lg="60">

      <div class="list-title" [ngClass]="{'mobile-margins': isMobile}" style="min-height: 82px;">
        <h1>{{title}}<span style="font-size:16px">{{subtitle}}</span></h1>
      </div>

      <app-subject-selector [subjectList]="subjectList" [areaId]="areaId"
                            [type]="type"></app-subject-selector>
    </div>

  </div>
</div>
