
.info-card {
  /*background: rgba(222, 220, 205, 0.06);*/
  background: transparent;
  padding: 0;
}

.area-info-container  {
  /*color: #302e2e color: #f0f0f0;
  /*background: #1717179c;*/
  background: #25252569;
  margin: 0;
  padding: 32px 16px 12px;
  width: 100%;
  min-height: 154px;
}
.collection-list-item {
  border-bottom: 1px solid #ccc;
}

.collection-list-item:hover {
  background-color: #eee;
}

.collection-list-item a {
  text-decoration: none;
}
.side-container {
  margin-top: 0px;
}
.side-nav-header {
  margin: 16px 16px 16px;
}
/* Reset padding for devices larger than small. */
mat-card-subtitle.large-device-info {
  padding: 32px 68px;

}
