mat-card-content.list-container {
  background-image: url(/assets/img/masthead-bottom-img.jpg),url(/assets/img/background-grain.jpg);
  background-repeat: no-repeat,repeat-x;
  background-position: top center,top center;
}
.info-card {
  /*background: rgba(222, 220, 205, 0.06);*/
  background: transparent;
  padding: 0;
}

.area-info-container  {
  /*color: #302e2e color: #f0f0f0;
  /*background: #1717179c;*/
  /*background: #25252569;*/
  background: #716958a1;
  background: #68655cb8;
  background: #6b6552b8;
  background: #615b4ab8;
  background: #696456b8;
  background: #2f2c22b8;
  background: #4c4839b8;
  background: #403e36b8;
  background: #2f2e2acf;
  margin: 0;
  padding: 16px 16px 12px;
  width: 100%;
  min-height: 154px;
}
.collection-list-item {
  border-bottom: 1px solid #ccc;
}

.collection-list-item:hover {
  background-color: #eee;
}

.collection-list-item a {
  text-decoration: none;
}
.side-container {
  margin-top: 0px;
}
.side-nav-header {
  margin: 0 6px 0 16px;
}
/deep/ .mat-tooltip {
  width: 12em;
  white-space: normal;
}
/* Reset padding for devices larger than small. */
mat-card-subtitle.large-device-info {
  padding: 32px 68px;

}
.filters-margin {
  margin-top: 8px;
}

