

.area-info  {
  font-size: 16px;
  background: rgb(239, 234, 223);
  color: #5d5b5b;
  padding: 22px;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
}

