<div class="side-nav-section" *ngIf="hasSubjects()">
  <mat-selection-list dense #subjectSelectionList>
    <h4 class="mat-body-2 list-caption">SUBJECTS</h4>
    <mat-list-option *ngFor="let subject of filter.subjects"
                     class="local-navigation"
                     [selected]="isSelected(subject.id)"
                     [@fadeIn]
                     [checkboxPosition]="position"
                     (click)="onSubjectListControlChanged(subjectSelectionList, subject.id)"
                     [value]="subject.id">
      {{subject.name}}
    </mat-list-option>
  </mat-selection-list>

</div>
