<div style="position: absolute;left: 0; right: 0;" *ngIf="!isMobile">
  <div fxLayout="row" fxFlex fxLayoutAlign="center start">
      <div *ngFor="let area of areas.areas" style="color:#fff;" class="pointer-container">
        <div *ngIf="isSelected(area.id)" class="down-pointer"></div>
        <span>{{area.title}}</span>
      </div>

  </div>
</div>
<div fxLayout="row" fxLayoutAlign="start start" fxLayoutAlign.sm="center start" fxLayoutGap="40px" fxFlex
     class="area-info">

  <div fxLayout="column"
       fxFlex.md="1 1 5"
       fxFlex.lg="1 1 18"
       fxFlex.gt-lg="1 1 20"
       *ngIf="media.isActive('gt-sm')"></div>

  <div class="mat-body-2"
       fxLayout="column"
       fxLayoutGap="30px"
       fxLayoutAlign="center start"
       fxFlex.xs="1 1 90"
       fxFlex.sm="1 1 90"
       fxFlex.md="1 1 50"
       fxFlex.lg="1 1 45"
       fxFlex.gt-lg="1 1 40">

    <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center start" fxFlex="55" fxFlex.xs="90">
      <div style="height: 100%; opacity:1">
        <div [ngClass]="{'mobile': isMobile}">
          <h2 class="mat-h1">{{title}}</h2>
          <div class="text-padding">
            <p class="mat-subheading-2" [innerHTML]="description"></p>
            <!--<p *ngIf="url" class="mat-body-1 area-button">-->
            <!--<a mat-raised-button class="accent-button" href="{{url}}" target="_top" color="accent">{{linkLabel}}</a>-->
            <!--</p>-->
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxFlex="30" fxLayoutAlign="start center" fxFill *ngIf="!isMobile">
      <div>
        <app-area-filters
          [filters]="filters"
          (removeFilter)="deselect($event)"></app-area-filters>
      </div>
    </div>
  </div>

  <div fxLayout="column"
       fxFlexAlign="start start"
       fxFlex.md="1 1 25"
       fxFlex.lg="1 1 15"
       fxFlex.gt-lg="1 1 12"
       *ngIf="media.isActive('gt-sm')">
    <div *ngIf="url" style="padding-left: 60px;">
      <span class="mat-caption">Related info:</span>
      <div class="mat-body-1 area-button">
        <a mat-raised-button href="{{url}}" target="_top" color="accent">{{linkLabel}}</a></div>
    </div>
  </div>

</div>


