.area-info {
  padding-bottom: 16px;
  padding-top: 54px;
  color: rgba(255, 255, 255, 0.88);
  opacity: 1;
}
.area-button {
  margin: 32px 0 0;
}
.mobile {
  padding-left: 16px;
  margin-top: -16px;
}
