<div class="area-info mat-body-2" fxLayout="column" fxLayoutAlign="center start">
  <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <div style="min-height: 160px;">
      <div [ngClass]="{'mobile': isMobile}">
        <h2 class="mat-title">{{title}}</h2>
        <div class="text-padding">
          <p class="mat-subheading-2" [innerHTML]="description"></p>
          <!--<p *ngIf="url" class="mat-body-1 area-button">-->
          <!--<a mat-raised-button class="accent-button" href="{{url}}" target="_top" color="accent">{{linkLabel}}</a>-->
          <!--</p>-->
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxFill>
    <div fxFlex>
      <app-area-filters
        [filters]="filters"
        (removeFilter)="deselect($event)"></app-area-filters>
    </div>
  </div>
</div>
