.filter-container {
  background: #80756052;
  padding: 16px 68px 8px;
  vertical-align: middle;
  min-height: 20px;
}
div.mobile-padding {
  padding: 18px 14px 8px;
}
.filter-chip {
  background: #ad7201;
  background: #905f02;
  color: #fff;
  font-size: 13px;
}
.filter-container .filter-chip {
  line-height: 11px;
  padding: 6px 10px 6px 0;
  margin: 2px 0 0 8px !important;
}
mat-chip  .mat-icon {
  height: 12px !important;
  width: 20px !important;
}
.mat-chip.mat-chip-selected:not(.mat-basic-chip) {
  background-color: #dcdcdc !important;
}
.mat-chip-list {
  vertical-align: middle;
}
.filter-label {
  display: block;
}
.disable-chip {
  color: #666;
  background: #ccc;
}
.chip-layout {
  display: inline-block;
}
