<md-card>

  <md-card-content>

    <div fxLayout="column"
         fxFlex="100"
         fxLayoutAlign="center center"
         *ngIf="restricted === true && !isAuthenticated">
      <a md-raised-button color="primary" href="{{authenticationPath}}">WU Login</a>
      <div md-subheader><br>Login required for access.</div>
    </div>

    <div
      style="min-height: 200px"
      fxFlex="100"
      fxLayout="column"
      fxLayoutGap="20px"
      fxLayoutAlign="center start"
      *ngIf="isAuthenticated || !restricted">

      <div style="padding-left: 30px"
           *ngIf="(searchOptions === 'DEFAULT' || searchOptions === 'BROWSE') &&  assetType === 'dig' && linkOptions !== 'opts'">

        <a md-raised-button color="primary" [disabled]="!isAuthenticated && restricted" href="{{url}}" target="_blank">{{COLLECTION_BUTTON_LABEL}}</a>
      </div>

      <div style="padding-left: 30px"
           *ngIf="(searchOptions === 'DEFAULT' || searchOptions === 'BROWSE') &&  assetType === 'itm'">

        <a md-raised-button color="primary" [disabled]="!isAuthenticated && restricted" href="{{url}}" target="_blank">{{ITEM_BUTTON_LABEL}}</a>
      </div>

      <div *ngIf="linkOptions === 'opts'" style="width:100%;">
        <item-select-component [isAuthenticated]="isAuthenticated" [restricted]="restricted" [optionList]="optionList"
                               [url]="url"></item-select-component>
      </div>

      <div
           style="width:100%;"
           *ngIf="searchOptions==='DEFAULT' || searchOptions ==='SEARCH'">

        <form fxLayout="row"
              class="app-links" #searchForm="ngForm" (ngSubmit)="simpleSearch();searchForm.reset();" novalidate>
          <div fxFlex fxLayout="row" fxLayoutAlign="start start">
            <div style="width: 33px;padding-top: 6px;">
              <!--<button md-button (click)="simpleSearch();" class="btn" color="default"-->
              <!--[disabled]="!isAuthenticated && restricted">-->
              <a (click)="simpleSearch();">
                <search-svg></search-svg>
              </a>
              <!--</button>-->
            </div>
            <div fxFlex>

              <md-input-container
                fxFlex="100"
                fxFlex.gt-xs="70">
                <input mdInput id="terms" [(ngModel)]="model.terms" name="search"
                       placeholder="Enter Search Terms">
              </md-input-container>
            </div>
          </div>

        </form>

      </div>

    </div>

  </md-card-content>
</md-card>

