<div fxFlex="100" class="header-image-container" style="overflow:hidden">

  <div class="header-background-overlay"></div>

  <div fxLayout="row" fxLayoutAlign="center top">

    <div fxLayout="column"
         fxFlex="100"
         fxFlex.md="100"
         fxFlex.lg="80"
         fxFlex.gt-lg="60">

      <div fxLayout="column">
        <div class="header-overlay"></div>
        <div class="header-title item-title" [ngClass]="{'mobile-margins': isMobile}">
          <h1>{{item?.collection.title}}</h1>
        </div>
        <div>
        <item-header-image fxFlex="100" [image]="item?.collection.image"></item-header-image>
        </div>
      </div>

    </div>

  </div>

</div>
